// Primary
$blue: 	 #024562;
$green:  #249B7A;
$orange: #FC913A;
$red: 	 #F25A43;
$offwhite: #f0f0f0;

$gray5:      #3D3D3D;
$gray4:      #454545;
$gray3:      #868686;
$gray2:      #BFBFBF;
$gray1:      #F0F0F0;
$gray0:      #FAFAFA;

$gray: $gray4;

$blue_light: #263243;
$blue_med: #212d3d;
$blue_dark: #192532;
$blue_bright: #009cf6;

// Elements
$body: #fff;
